# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
pytest_cache/
junit.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# Cython & C extensions
*.so
*.pyd
*.dll

# VS Code and JetBrains IDE settings
.vscode/
.idea/

# MacOS files
.DS_Store

# Logs and local environment settings
logs/
*.log
.env
.envrc
*.ini
*.toml

# Docker-related files
*.dockerfile
*.envrc

# Temporary files
tmp/
temp/

# Secrets
secrets.json
